.HA_VERSION
.storage
.sonoff.json
*.db
*.db-shm
*.db-wal
*.json
*.py
*.log
*.2020*
*.swp
http.yaml
secrets.yaml
custom_components/
deps/
tts/
www/
automations.yaml
scenes.yaml
views/foo/
views/testing.yaml
views/thermo.yaml
