.HA_VERSION
.storage
.sonoff.json
.google.token
google_calendars.yaml
google_service_account.json
*.db
*.db-shm
*.db-wal
*.py
*.log
*.fault
*.[1-9]*
*.swp
automations.yaml
http.yaml
secrets.yaml
ip_bans.yaml
output.txt
custom_components/
deps/
tts/
www/community/
scenes.yaml
views/foo/
views/testing.yaml
views/thermo.yaml
